In [1]:
#MIST4600 Group Project
#Ian Arnold
#John Carr
#Ebun Kayode
#Shivani Senthil Kumar

In [2]:
#data
customers = {
    'John Smith': {
        'CID': 12345678,
        'age': 40,
        "email": "abc@gmail.com",
        "phone": "123-456-7898",
        "address": "123 X Street, Athens, GA 30000",
        "last 5 purchases": {"A12": 45.69, "B478": 580.20, "E4780": 91.00, "C780": 140.25, "D41": 230.14}
    },
    'Sarah James': {
        'CID': 58302140,
        'age': 58,
        "email": "xyz@gmail.com",
        "phone": "890-653-1423",
        "address": "200 Zys Street, Atlanta, GA 30029",
        "last 5 purchases": {"B235": 80.12, "A12": 50.91, "C780": 175.25, "E124": 132.25, "D20": 49.87}
    },
    'Michael Brown': {
        'CID': 11223344,
        'age': 32,
        "email": "michael.b@gmail.com",
        "phone": "678-555-2233",
        "address": "45 Main Street, Augusta, GA 30901",
        "last 5 purchases": {"A12": 47.00, "C102": 89.99, "D20": 53.50, "E4780": 93.50, "B235": 78.40}
    },
    'Emily Davis': {
        'CID': 99887766,
        'age': 27,
        "email": "emily.d@gmail.com",
        "phone": "404-221-8765",
        "address": "789 West Ave, Savannah, GA 31401",
        "last 5 purchases": {"B123": 150.75, "C102": 90.10, "D89": 205.45, "E124": 135.90, "A90": 60.00}
    },
    'David Wilson': {
        'CID': 77665544,
        'age': 45,
        "email": "davidw@gmail.com",
        "phone": "706-222-3456",
        "address": "321 Oak St, Macon, GA 31201",
        "last 5 purchases": {"A12": 46.25, "B235": 81.50, "C780": 139.99, "D20": 50.00, "E789": 110.10}
    },
    'Laura Martinez': {
        'CID': 33445566,
        'age': 36,
        "email": "lauram@gmail.com",
        "phone": "912-998-4422",
        "address": "55 River Rd, Columbus, GA 31901",
        "last 5 purchases": {"C102": 88.75, "E124": 130.00, "A12": 49.99, "D41": 225.00, "B567": 400.00}
    },
    'James Taylor': {
        'CID': 22114433,
        'age': 50,
        "email": "jtaylor@gmail.com",
        "phone": "229-411-0001",
        "address": "99 Lake Dr, Albany, GA 31701",
        "last 5 purchases": {"B235": 85.75, "D89": 210.00, "E789": 115.35, "C780": 138.40, "A90": 61.25}
    },
    'Olivia Harris': {
        'CID': 44332211,
        'age': 29,
        "email": "oliviah@gmail.com",
        "phone": "478-555-1212",
        "address": "888 Pine St, Valdosta, GA 31601",
        "last 5 purchases": {"A90": 59.50, "B123": 152.00, "C102": 87.45, "D20": 51.99, "E124": 131.00}
    },
    'Daniel Moore': {
        'CID': 66554433,
        'age': 41,
        "email": "dmoore@gmail.com",
        "phone": "770-600-2345",
        "address": "11 Brook Ln, Rome, GA 30161",
        "last 5 purchases": {"C780": 142.00, "B567": 405.60, "D41": 228.10, "A12": 48.30, "E4780": 90.00}
    },
    'Sophia Clark': {
        'CID': 55667788,
        'age': 35,
        "email": "sophiac@gmail.com",
        "phone": "678-900-4567",
        "address": "300 Hill St, Gainesville, GA 30501",
        "last 5 purchases": {"A90": 62.10, "C102": 85.20, "D20": 49.50, "B123": 149.99, "E789": 112.45}
    }
}

In [13]:
#1 Per customer purchases and totals
totals = {}
for name, info in customers.items():
    purchases = info["last 5 purchases"]
    total = 0.0
    for cost in purchases.values():
        total = total + cost
    totals[name] = total

    print(name + ":")
    for code, cost in purchases.items():
        print("   " + code + ":", cost)
    print("   Total =", total)
print()

John Smith:
   A12: 45.69
   B478: 580.2
   E4780: 91.0
   C780: 140.25
   D41: 230.14
   Total = 1087.2800000000002
Sarah James:
   B235: 80.12
   A12: 50.91
   C780: 175.25
   E124: 132.25
   D20: 49.87
   Total = 488.4
Michael Brown:
   A12: 47.0
   C102: 89.99
   D20: 53.5
   E4780: 93.5
   B235: 78.4
   Total = 362.39
Emily Davis:
   B123: 150.75
   C102: 90.1
   D89: 205.45
   E124: 135.9
   A90: 60.0
   Total = 642.1999999999999
David Wilson:
   A12: 46.25
   B235: 81.5
   C780: 139.99
   D20: 50.0
   E789: 110.1
   Total = 427.84000000000003
Laura Martinez:
   C102: 88.75
   E124: 130.0
   A12: 49.99
   D41: 225.0
   B567: 400.0
   Total = 893.74
James Taylor:
   B235: 85.75
   D89: 210.0
   E789: 115.35
   C780: 138.4
   A90: 61.25
   Total = 610.75
Olivia Harris:
   A90: 59.5
   B123: 152.0
   C102: 87.45
   D20: 51.99
   E124: 131.0
   Total = 481.94
Daniel Moore:
   C780: 142.0
   B567: 405.6
   D41: 228.1
   A12: 48.3
   E4780: 90.0
   Total = 914.0
Sophia Clark:
   A90: 62.1
   C102: 85.2
   D20: 49.5
   B123: 149.99
   E789: 112.45
   Total = 459.24

In [14]:
#2 Highest and lowest totals
max_total = None
min_total = None
highest_names = []
lowest_names = []
for name, t in totals.items():
    if max_total is None or t > max_total:
        max_total = t
        highest_names = [name]
    elif t == max_total:
        highest_names.append(name)

    if min_total is None or t < min_total:
        min_total = t
        lowest_names = [name]
    elif t == min_total:
        lowest_names.append(name)

print("Highest total:", ", ".join(highest_names), "(" + str(max_total) + ")")
print("Lowest total:", ", ".join(lowest_names), "(" + str(min_total) + ")\n")

Highest total: John Smith (1087.2800000000002)
Lowest total: Michael Brown (362.39)

In [15]:
#3 Totals > 500
print("Customers with total > 500 (name, email):")
for name, t in totals.items():
    if t > 500:
            print(name + ":", customers[name]["email"])
print()

Customers with total > 500 (name, email):
John Smith: abc@gmail.com
Emily Davis: emily.d@gmail.com
Laura Martinez: lauram@gmail.com
James Taylor: jtaylor@gmail.com
Daniel Moore: dmoore@gmail.com

In [19]:
#4 Discount eligibility
for name, info in customers.items():
    purchases = info["last 5 purchases"]
    has_A12 = "A12" in purchases
    has_C780 = "C780" in purchases
    if has_A12 or has_C780:
        if has_A12 and has_C780:
            which = "A12 and C780"
        elif has_A12:
            which = "A12"
        else:
            which = "C780"
        print(" Hi " + name + ", you are eligible for a 50% discount on " + which + " next time.")
print()

 Hi John Smith, you are eligible for a 50% discount on A12 and C780 next time.
 Hi Sarah James, you are eligible for a 50% discount on A12 and C780 next time.
 Hi Michael Brown, you are eligible for a 50% discount on A12 next time.
 Hi David Wilson, you are eligible for a 50% discount on A12 and C780 next time.
 Hi Laura Martinez, you are eligible for a 50% discount on A12 next time.
 Hi James Taylor, you are eligible for a 50% discount on C780 next time.
 Hi Daniel Moore, you are eligible for a 50% discount on A12 and C780 next time.

In [22]:
#5 Count customers with any purchase > 100 and list their CIDs
cids_over_100 = []
for info in customers.values():
    purchases = info["last 5 purchases"]
    has_big = False
    for cost in purchases.values():
        if cost > 100:
            has_big = True
            break  # early exit
    if has_big:
        cids_over_100.append(info["CID"])
print("Customers with at least one purchase > 100:", len(cids_over_100))
print("   CIDs:", cids_over_100, "\n")

Customers with at least one purchase > 100: 9
   CIDs: [12345678, 58302140, 99887766, 77665544, 33445566, 22114433, 44332211, 66554433, 55667788]

In [25]:
#6 Total for codes starting with 'B'
total_B = 0.0
for info in customers.values():
    for code, cost in info["last 5 purchases"].items():
        if len(code) > 0 and code[0] == "B":
            total_B = total_B + cost
print("Total spent on items starting with 'B':", total_B, "\n")

Total spent on items starting with 'B': 2164.3100000000004

In [26]:
#7 Totals by initial and highest/lowest letters
letters = ["A", "B", "C", "D", "E"]
totals_by_letter = {}
for L in letters:
    totals_by_letter[L] = 0.0

for info in customers.values():
    for code, cost in info["last 5 purchases"].items():
        first = code[0]
        if first in totals_by_letter:
            totals_by_letter[first] = totals_by_letter[first] + cost

print("Totals by item initial:")
for L in letters:
    print("   " + L + ":", totals_by_letter[L])

max_letter_value = None
min_letter_value = None
max_letters = []
min_letters = []
for L in letters:
    v = totals_by_letter[L]
    if max_letter_value is None or v > max_letter_value:
        max_letter_value = v
        max_letters = [L]
    elif v == max_letter_value:
        max_letters.append(L)

    if min_letter_value is None or v < min_letter_value:
        min_letter_value = v
        min_letters = [L]
    elif v == min_letter_value:
        min_letters.append(L)

print("   Highest:", ", ".join(max_letters), "(" + str(max_letter_value) + ")")
print("   Lowest:", ", ".join(min_letters), "(" + str(min_letter_value) + ")\n")

Totals by item initial:
   A: 530.99
   B: 2164.3100000000004
   C: 1177.38
   D: 1353.55
   E: 1141.55
   Highest: B (2164.3100000000004)
   Lowest: A (530.99)

In [28]:
#8 Sum and average, median for 'A' items
A_costs = []
for info in customers.values():
    for code, cost in info["last 5 purchases"].items():
        if code[0] == "A":
            A_costs.append(cost)

sum_A = 0.0
count_A = 0
for v in A_costs:
    sum_A = sum_A + v
    count_A = count_A + 1

if count_A > 0:
    avg_A = sum_A / count_A
else:
    avg_A = 0.0

temp = []
for v in A_costs:
    temp.append(v)

ordered = []
while True:
    n_temp = 0
    for _ in temp:
        n_temp = n_temp + 1
    if n_temp == 0:
        break

    smallest = temp[0]
    for v in temp:
        if v < smallest:
            smallest = v

    new_temp = []
    removed = False
    for v in temp:
        if (not removed) and v == smallest:
            removed = True
        else:
            new_temp.append(v)
    temp = new_temp
    ordered.append(smallest)

n = 0
for _ in ordered:
    n = n + 1

if n == 0:
    median_A = 0.0
else:
    if n % 2 == 1:
        mid_index = n // 2
        i = 0
        for v in ordered:
            if i == mid_index:
                median_A = v
            i = i + 1
    else:
        left_index = n // 2 - 1
        right_index = n // 2
        i = 0
        left_value = None
        right_value = None
        for v in ordered:
            if i == left_index:
                left_value = v
            if i == right_index:
                right_value = v
            i = i + 1
        median_A = (left_value + right_value) / 2.0

print("Items starting with 'A':")
print("   Total =", sum_A)
print("   Average =", avg_A)
print("   Median =", median_A, "\n")

Items starting with 'A':
   Total = 530.99
   Average = 53.099000000000004
   Median = 50.45

In [29]:
#9 Average age for customers who bought 'A12'
sum_age = 0
count_age = 0
for info in customers.values():
    purchases = info["last 5 purchases"]
    if "A12" in purchases:
        sum_age = sum_age + info["age"]
        count_age = count_age + 1

if count_age > 0:
    avg_age_A12 = sum_age / count_age
else:
    avg_age_A12 = 0.0

print("Average age of customers who purchased 'A12':", avg_age_A12, "\n")

Average age of customers who purchased 'A12': 42.0

In [32]:
#10 Highest single item purchase
max_cost = None
winners = []  # list of {"name": ..., "code": ..., "cost": ...}
for name, info in customers.items():
    for code, cost in info["last 5 purchases"].items():
        if max_cost is None or cost > max_cost:
            max_cost = cost
            winners = [{"name": name, "code": code, "cost": cost}]
        elif cost == max_cost:
            winners.append({"name": name, "code": code, "cost": cost})

for w in winners:
    print(w["name"] + " bought " + w["code"] + " for " + str(w["cost"]))

John Smith bought B478 for 580.2